.body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
    color: #ff6347; /* Tomato color */
    margin-bottom: 20px;
    
}
p {
    padding: 0 20px 20px 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}